Protractor_Framework\src\Reports
*.xml
*.png
.idea/.name
.idea/Protractor Framework.iml
.project
src/Reports/screenshots/001900c1-00da-00eb-0080-002b0016001a.json
src/Reports/screenshots/00500084-00de-00a7-00cf-004e007500b3.json
src/Reports/screenshots/009500ae-00ac-003e-009b-00ce009b00da.json
src/Reports/screenshots/00e00013-0003-00f8-00bc-00c5005700da.json
src/Reports/screenshots/app.js
src/Reports/screenshots/assets/angular.js
src/Reports/screenshots/assets/angular.min.js
src/Reports/screenshots/assets/bootstrap.css
src/Reports/screenshots/assets/bootstrap.min.js
src/Reports/screenshots/assets/buttons.js
src/Reports/screenshots/assets/circular-json.js
src/Reports/screenshots/assets/favicon.ico
src/Reports/screenshots/assets/jquery.min.js
src/Reports/screenshots/assets/main.css
src/Reports/screenshots/assets/main.js
src/Reports/screenshots/combined.json
src/Reports/screenshots/fonts/glyphicons-halflings-regular.eot
src/Reports/screenshots/fonts/glyphicons-halflings-regular.svg
src/Reports/screenshots/fonts/glyphicons-halflings-regular.ttf
src/Reports/screenshots/fonts/glyphicons-halflings-regular.woff
src/Reports/screenshots/fonts/glyphicons-halflings-regular.woff2
src/Reports/screenshots/report.html
